
*.name

test/.classpath

test/.project

test/.settings/.jsdtscope

test/.settings/org.eclipse.jdt.core.prefs

test/.settings/org.eclipse.m2e.core.prefs

test/.settings/org.eclipse.wst.common.component

test/.settings/org.eclipse.wst.common.project.facet.core.xml

test/.settings/org.eclipse.wst.jsdt.ui.superType.container
